@import "../../config.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  background-color: $primary-dark-color;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.light {
  background-color: #fff;
  color: $primary-dark-color;
  .burger {
    color: $primary-dark-color;
  }
  .search-input {
    background-color: #fff;
    border: 1px solid $primary-dark-color;
    &::placeholder {
      padding-left: 10px;
      color: $primary-dark-color;
    }
  }
  .username {
    span {
      color: $primary-dark-color;
    }
  }
}

.burger {
  color: #fff;
  font-size: 28px;
  margin-left: 20px;
  cursor: pointer;
}

.search-container {
  display: flex;
  max-width: 600px;
  width: 100%;
}

.search-input {
  width: 120%;
  border-radius: 10px;
  border: none;
  background-color: $secondary-dark-color;
  outline: none;
  min-height: 40px;
  color: #fff;
  text-indent: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  &::placeholder {
    padding-left: 10px;
    color: #fff;
  }
}

.username {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  span {
    color: #fff;
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: .4s ease-out;
    transition-delay: 0.3s;
    &:hover{
      color: $purple-color;

    }
  }
}

.person-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $purple-color;
  border-radius: 10px;
  margin-right: 10px;
   img{
    width: 22px;
    height: 22px;
   }
}

.filter-icon {
  position: relative;
  left: -35px;
  cursor: pointer;
  display: flex;
  align-items: center;
}